@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

body{
    background-image: linear-gradient(to left,     #123859, #6AC4D9 );
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 7px 5px 15px #031620;
    }

h1 {
    color: #366b80 ;
    text-align: center;
    text-shadow: 1px 1px 2px #366b80;
}

h2 {
    color: #1076B1 ;
}