@charset "UTF-8";

body{
    background-color: #2d2d30;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 20px;
}

h1 {
    color: #ffffff;
    background-color: #022B3A;
}

h2 {
    color: #1F7A8C;
}

p {
    text-align: justify;
    color: #ffffff;
}

